    body{
    	margin:0;
    	background:url(img/bg.jpg);
    }
    ul{
    	list-style: none;
    	padding: 0;
    	margin:0;
    }
    p{
    	margin: 0;
    }
    select{
  		border: none;
  		outline: none;
  		width: 42px;
  		height: 24px;
  		margin-right: 6px;
  		border-radius: 6px;
  		-webkit-appearance:none;
  		background: #eff0c4;
  		color: #7a70ac;
  		text-indent: 4px;
  		font-weight: bold;
  		font-style: italic;
  	}
    #calendar{
   		width:750px;
   		margin:60px 0 0 60px;
    }
    header{
    	overflow: hidden;
   		height: 80px;
   		background: #374e91;
   		border-radius:24px 24px 0 0;
   		opacity: .7;
    }
    section{
   		height: 456px;
   		background: url(img/bg1.png) repeat-x;
   		border-radius: 0 0 24px 24px;
   		opacity: .7;
    }
    #date,#week{
    	overflow: hidden;
    	padding: 0 18px;
    }
    #date li{
       float: left;
       height: 52px;
   	   width: 52px;
   	   margin: 2px 25px;
   	   text-align: center;
   	   font:22px/52px arial;
   	   color: #fffff8;
   	   border-radius: 50px;
    }
    #date li:hover{
    	background: #436aa5;
    	cursor: pointer;
    }
    #week li{
    	float: left;
    	width: 102px;
    	text-align: center;
   		color: #1fd2fa;
   		font:24px/84px arial;
    }
    #week li:hover{
    	background: none;
    }
    #good{
  		text-align: center;
  		font:24px/54px "华文彩云";
  		color:#f6e44f;
  	}
    #pre,#next{
    	border: none;
    	outline: none;
    	width: 46px;
    	height: 46px;
    }
  	#pre{
  		background: url(img/1.png) no-repeat;
  		margin-left: 520px;
  		cursor: pointer;
  	}
  	#next{
  		background: url(img/2.png) no-repeat;
  		margin-left:12px;
  		cursor: pointer;
  	}
		@keyframes spin{
  		from{
  			transform: rotate(0turn)
  					translateY(-136px) translateY(50%)
  					rotate(1turn);
  		}
  		to{
  			transform: rotate(1turn)
  					translateY(-136px) translateY(50%)
  					rotate(0turn);
  		}
  	}
  	#clock{
  		color: #369;
  		font-family: bold;
  		font: 24px "楷体";
  		line-height: 30px;
  		margin-left: 36px;
  		display: inline-block;
  		position: absolute;
  		right:270px;
  		top: 160px;
  		text-shadow: 0 0 .1em ,0 0 .3em;
  	}
  	#icon{
  		background: url(img/3.png) no-repeat;
  		width: 79px;
  		height: 78px;
  		display: inline-block;
  		position: absolute;
  		right:266px;
  		top: 142px;
  		cursor: pointer;
  		animation:spin 3s infinite linear ;
  	}
  	#set{
  		width: 200px;
  		height: 280px;
  		border-radius: 30px;
  		border: 1px solid #ccc;
  		background: #369;
  		right:186px;
  		top: 200px;
  		position: absolute;
  		padding-left: 40px;
  		display: none;
  	}
  	.title{
  		color: #1fd2fa;
  		font:22px/60px "华文彩云";
  	}
  	#setBtn{
  		padding-top: 50px;
  		overflow: hidden;
  	}
  	#setBtn span{
  		color: #faf15a;
  		font: 18px "楷体";
  		float: left;
  		cursor: pointer;
  	}
	#setBtn span:nth-of-type(1){
  		margin-left: 68px;
  		margin-right: 16px;
  	}